
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.pdb