
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/FuzzyLogic.Presentation.Console/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/FuzzyLogic.Presentation.Console/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.vshost.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.vshost.exe.manifest
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/GenerateResource.read.1.tlog
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/GenerateResource.write.1.tlog
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.Form1.resources
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.Properties.Resources.resources
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.pdb
/Heuristicas/HeuristicaConstrutiva/bin/Debug/HeuristicaConstrutiva.dll
/Heuristicas/HeuristicaConstrutiva/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Heuristicas/HeuristicaConstrutiva/obj/Debug/HeuristicaConstrutiva.csproj.FileListAbsolute.txt
/Heuristicas/HeuristicaConstrutiva/obj/Debug/HeuristicaConstrutiva.dll
/Heuristicas/HeuristicaConstrutiva/obj/Debug/HeuristicaConstrutiva.pdb
/Heuristicas/HeuristicaMelhoria/bin/Debug/HeuristicaConstrutiva.dll
/Heuristicas/HeuristicaMelhoria/bin/Debug/HeuristicaConstrutiva.pdb
/Heuristicas/HeuristicaMelhoria/bin/Debug/HeuristicaMelhoria.dll
/Heuristicas/HeuristicaMelhoria/bin/Debug/HeuristicaMelhoria.pdb
/Heuristicas/HeuristicaMelhoria/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Heuristicas/HeuristicaMelhoria/obj/Debug/HeuristicaMelhoria.csproj.FileListAbsolute.txt
/Heuristicas/HeuristicaMelhoria/obj/Debug/HeuristicaMelhoria.csprojResolveAssemblyReference.cache
/Heuristicas/HeuristicaMelhoria/obj/Debug/HeuristicaMelhoria.dll
/Heuristicas/HeuristicaMelhoria/obj/Debug/HeuristicaMelhoria.pdb
/Heuristicas/Heuristicas.suo
/Heuristicas/Heuristicas/bin/Debug/HeuristicaConstrutiva.dll
/Heuristicas/Heuristicas/bin/Debug/HeuristicaMelhoria.dll
/Heuristicas/Heuristicas/bin/Debug/Heuristicas.exe
/Heuristicas/Heuristicas/bin/Debug/Heuristicas.vshost.exe
/Heuristicas/Heuristicas/bin/Debug/Heuristicas.vshost.exe.manifest
/Heuristicas/Heuristicas/bin/Debug/ProblemaMochila.dll
/Heuristicas/Heuristicas/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Heuristicas/Heuristicas/obj/x86/Debug/Heuristicas.csproj.FileListAbsolute.txt
/Heuristicas/Heuristicas/obj/x86/Debug/Heuristicas.csprojResolveAssemblyReference.cache
/Heuristicas/Heuristicas/obj/x86/Debug/Heuristicas.exe
/Heuristicas/Heuristicas/obj/x86/Debug/Heuristicas.pdb
/Heuristicas/ProblemaMochila/bin/Debug/HeuristicaConstrutiva.dll
/Heuristicas/ProblemaMochila/bin/Debug/HeuristicaConstrutiva.pdb
/Heuristicas/ProblemaMochila/bin/Debug/HeuristicaMelhoria.dll
/Heuristicas/ProblemaMochila/bin/Debug/HeuristicaMelhoria.pdb
/Heuristicas/ProblemaMochila/bin/Debug/ProblemaMochila.dll
/Heuristicas/ProblemaMochila/bin/Debug/ProblemaMochila.pdb
/Heuristicas/ProblemaMochila/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Heuristicas/ProblemaMochila/obj/Debug/ProblemaMochila.csproj.FileListAbsolute.txt
/Heuristicas/ProblemaMochila/obj/Debug/ProblemaMochila.csprojResolveAssemblyReference.cache
/Heuristicas/ProblemaMochila/obj/Debug/ProblemaMochila.dll
/Heuristicas/ProblemaMochila/obj/Debug/ProblemaMochila.pdb
/Prolog/SistemaRecomendacao.BAK