
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/ProjectFuzzyLogic/obj/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/FuzzyLogic.Presentation.Console/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/FuzzyLogic.Presentation.Console/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.DomainModel/obj/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/FuzzyLogic.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/FuzzyLogic.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.DomainModel.dll
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.DomainModel.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.pdb
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.vshost.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/bin/Debug/Restaurante.Presentation.Desktop.vshost.exe.manifest
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/GenerateResource.read.1.tlog
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/GenerateResource.write.1.tlog
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.Form1.resources
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.Properties.Resources.resources
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.csproj.FileListAbsolute.txt
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.exe
/Fuzzy/FuzzyNet/Fuzzy/Restaurante.Presentation.Desktop/obj/x86/Debug/Restaurante.Presentation.Desktop.pdb